<div class="page-container">
  <p>Pentru a adăuga definiții trebuie sa fii autentificat.</p>
  <div class="login-options">
    <a href="/user/login/google">
      <amp-img width="191" height="46" noloading src="/modules/custom/dicto_views/images/google.png" alt="Login cu Google">
        <noscript>
        <img src="/modules/custom/dicto_views/images/google.png" alt="Login cu Google">
        </noscript>
      </amp-img>
    </a>
  </div>
</div>
