<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-top">
            {% include '@thex/template-parts/header/header-top-left.html.twig' %}
            {% include '@thex/template-parts/header/header-top-right.html.twig' %}
      </div><!-- /header-top -->
      {% if page.header %}
        <div class="site-brand">
          {{ page.header }}
        </div> <!--/.site-branding -->
      {% endif %}
    </div><!-- /header-container -->
  </div><!-- /container -->
</header><!-- /header -->
