<div class="votingapi-reaction-item-wrapper">
  <div class="votingapi-reaction-item">
    <span class="votingapi-reaction-label">{{ label }}</span>
    <div class="votingapi-reaction-count">{{ count }}</div>
  </div>
</div>
