/* Sidebar
--------------------------------*/
.sidebar {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.sidebar .block {
  padding: 1.4em;
  border-radius: 3px;
}

.sidebar .block .field {
  margin: 0;
}
