/* Sidebar
--------------------------------*/
.sidebar {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.sidebar .block {
  padding: 20px;
  margin-bottom: 2rem;
  border-radius: 6px;
}
